@import url("https://fonts.googleapis.com/css2?family=Blinker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Blinker&family=Shadows+Into+Light&display=swap");
:root {
  font-size: 18px;
  font-family: "Blinker", sans-serif;
  --white-color: #ffffff;
  --green-color: #00d646;
  --bec-color: #bec7d5;
}
* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 980px;
  margin: auto;
  background-color: #333b50;
}
h3 {
  display: flex;
  text-align: center;
  padding: 0 0 0 208px;
  text-align: justify;
}
.titleheader {
  background-image: url(../img/title/titleheader.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}
.menu {
  display: inline;
  margin: 0;
  text-transform: uppercase;
  padding: 3px;
}
.burger-icon{
  font-size: 2.8rem;
}
#burger-checkbox{
  display: none;
}

.block-one {
  display: flex;
  text-align: center;
  padding: 0 0 0 208px;
}
.block-profesional {
  background-image: url(../img/title/titleprofesional.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-transform: uppercase;
  min-height: 500px;
}
.block-portfolio{
  
}
.button-hover {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.click-image{
  display: inline-flex;
  min-height: 300px;
  padding:40px 0 0 0 ;
}
.block-experience {
  background-image: url(../img/title/titlemain.png);
  opacity: 1;
  background-size: cover;
  background-repeat: no-repeat;
}
.block-futer {
  background-image: url(../img/title/titlefuter.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 300px;
}
@media (min-width: 610px) {
  header nav {
    display: flex;
  }
  .menu {
    display: flex;
    justify-content: space-around;
    flex: 1;
    align-items: center;
  }
}
.imserhii {
  color: var(--white-color);
  font-family: "Blinker", sans-serif;
  font-size: 85px;
  text-align: justify;
}
.punctuationmark {
  color: var(--green-color);
}
a {
  text-decoration: none;
}
.number {
  color: var(--bec-color);
  padding:  0 10px 0 0;
}
.seemore {
  color: var(--bec-color);
}
h4{
  color: var(--white-color);
  font-size: 24px;
  font-family: "Blinker", sans-serif;
}
.titlethree {
  color: var(--white-color);
  font-size: 24px;
  font-family: "Blinker", sans-serif;
  display: flex;
  text-align: center;
  padding: 0 0 0 208px;
  text-align: justify;
}
.titletwo {
  color: var(--white-color);
  font-size: 42px;
  font-family: "Blinker", sans-serif;
  display: flex;
  text-align: center;
  padding: 0 0 0 208px;
  text-align: justify;
}
.years {
  color: var(--green-color);
  font-size: 16px;
}
.knowledge {
  color: var(--bec-color);
  font-size: 24px;
  padding: 20px 0 0 0;
  
}
.titlefive {
  color: var(--white-color);
  font-size: 24px;
  font-family: "Blinker", sans-serif;
}
.paragraph {
  color: var(--bec-color);
  font-size: 15px;
  font-family: "Shadows Into Light", cursive;
}
.paragraph-contact {
  color: var(--white-color);
  font-size: 15px;
  font-family: "Shadows Into Light", cursive;
}
.submitting {
  color: var(--green-color);
  font-size: 15px;
}
.production {
  color: var(--white-color);
  font-size: 14px;
  align-items: center;
}
