@import url("https://fonts.googleapis.com/css2?family=Blinker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Blinker&family=Shadows+Into+Light&display=swap");
:root {
  font-size: 18px;
  font-family: "Blinker", sans-serif;
  --white-color: #ffffff;
  --green-color: #00d646;
  --bec-color: #bec7d5;
}
* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 980px;
  margin: auto;
  background-color: #333b50;
}
.titleheader {
  background-image: url(../img/title/titleheader.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.menu {
  display: inline;
  margin: 0;
  text-transform: uppercase;
  padding: 3px;
}
@media (min-width: 610px) {
  header nav {
    display: flex;
  }
  .menu {
    display: flex;
    justify-content: space-around;
    flex: 1;
    align-items: center;
  }
}
.imserhii {
  color: var(--white-color);
  font-family: "Blinker", sans-serif;
  font-size: 85px;
}
.punctuationmark {
  color: var(--green-color);
}
a {
  text-decoration: none;
}
.number {
  color: var(--bec-color);
}
.seemore {
  color: var(--bec-color);
}
.titlethree {
  color: var(--white-color);
  font-size: 24px;
  font-family: "Blinker", sans-serif;
}
.titletwo {
  color: var(--white-color);
  font-size: 42px;
  font-family: "Blinker", sans-serif;
}
.years {
  color: var(--green-color);
  font-size: 16px;
}
.knowledge {
  color: var(--bec-color);
  font-size: 14px;
}
.titlefive {
  color: var(--white-color);
  font-size: 24px;
  font-family: "Blinker", sans-serif;
}
.paragraph {
  color: var(--bec-color);
  font-size: 15px;
  font-family: "Shadows Into Light", cursive;
}
.paragraph-contact {
  color: var(--white-color);
  font-size: 15px;
  font-family: "Shadows Into Light", cursive;
}
.submitting {
  color: var(--green-color);
  font-size: 15px;
}
.production {
  color: var(--white-color);
  font-size: 14px;
}
